* {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-box input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  color: #333;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 2px 5;
}
