*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: system-ui, 'Helvetica Neue', sans-serif
  }
  nav{
    background: black;
    height: 150px;
    width: 100%;
  }
  label.logo{
    color: greenyellow;
    font-size: 45px;
    line-height: 80px;
    padding: 0 25px;
    font-weight: bold;
    font-family: 'Gill Sans';
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 12px;
    padding: 7px 43px;
    border-radius: 3px;
    text-transform: uppercase;
  }
    nav ul li a{
      font-size: 12px;
    }
div.search-container img{
  width: 75px;
  height: auto;
  padding: 0 25px;
}
div.login-container img{
    width: 75px;
    height: auto;
    margin-right: 20px;
  }